.movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-poster {
    height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.movie-card {
    margin: 30px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
	position: relative;
}